<script type="text/javascript">
  <% @date_1 = Time.now %>
  var date = new Date();
  $(document).on('ready', function () {
    Date.prototype.getMonthName = function () {
        var monthNames = [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Augosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Deciembre"
        ];
        return monthNames[this.getMonth()];
    }
    document.getElementById("month").innerHTML = date.getMonthName();
  });
  function prev() {

    date.setMonth(date.getMonth() - 1);
    document.getElementById("month").innerHTML = date.getMonthName();
  }
  function next() {

    date.setMonth(date.getMonth() + 1);
    document.getElementById("month").innerHTML = date.getMonthName();
  }
</script>

<nav>
    <div class="btn-group col-md-5"></div>
    <div class="btn-group col-md-6">
        <button type="button" class="btn btn-default" onclick="prev()"> << Prev </button>
        <button type="button" class="btn btn-success" id="month"></button>
        <button type="button" class="btn btn-default" onclick="next()"> Next >> </button>
    </div>

</nav>
<div class="col-md-12">
    <table class="col-md-12 table table-bordered">
        <tbody>
            <tr class="cabins">
                <td>
                    Dias</td>
                <td>
                    cabaña 1</td>
                <td>
                    cabaña 2</td>
                <td>
                    cabaña 3</td>
                <td>
                    cabaña 4</td>
                <td>
                    cabaña 5</td>
            </tr>

            <% days = Time.days_in_month(@date_1.month, @date_1.year)%>
            <% for d in 1..days do%>
            <%date_2 = Time.new(@date_1.year, @date_1.month, d)%>
            <tr class="vacant_state">
                <td class="day">
                    <%= "#{date_2.strftime("%A")} - #{date_2.day}"%></td>
                <td>
                    cabaña 1</td>
                <td>
                    cabaña 2</td>
                <td>
                    cabaña 3</td>
                <td>
                    cabaña 4</td>
                <td>
                    cabaña 5</td>
            </tr>
            <%end%>

        </tbody>

    </table>
</div>
