<script type="text/javascript">
  var date = new Date();
  $(document).on('ready', function () {
    Date.prototype.getMonthName = function () {
        var monthNames = [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Augosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Deciembre"
        ];
        return monthNames[this.getMonth() - 1];
    }
    document.getElementById("month").innerHTML = date.getMonthName()+ " - " +date.getMonth();
  });
  function prev() {

    date.setMonth(date.getMonth() - 1);
    document.getElementById("month").innerHTML = date.getMonthName() + " - " +date.getMonth();
  }
  function next() {

    date.setMonth(date.getMonth() + 1);
    document.getElementById("month").innerHTML = date.getMonthName()+ " - " +date.getMonth();
    myFunction();
  }
  function myFunction() {
    var getDaysInMonth = function(year, month){
      return new Date(year, month, 0).getDate();
    }
    var table = document.getElementById("myTable");
    for (var i = 0; i < getDaysInMonth(date.getYear(), date.getMonth()); i++) {
      var row = table.insertRow(1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell1 = row.insertCell(2);
      var cell2 = row.insertCell(3);
      var cell1 = row.insertCell(4);
      var cell1 = row.insertCell(5);
    }
}

</script>

<nav>
    <div class="btn-group col-md-5"></div>
    <div class="btn-group col-md-6">
        <button type="button" class="btn btn-default" onclick="prev()"> << Prev </button>
        <button type="button" class="btn btn-success" id="month"></button>
        <button type="button" class="btn btn-default" onclick="next()"> Next >> </button>
    </div>

</nav>
<div class="col-md-12">
    <table class="col-md-12 table table-bordered" id="myTable">

      <tr class="cabins">
          <td>
              Dias</td>
          <td>
              cabaña </td>
          <td>
              cabaña 2</td>
          <td>
              cabaña 3</td>
          <td>
              cabaña 4</td>
          <td>
              cabaña 5</td>
      </tr>

    </table>
</div>
